.event-title {
  font-size: larger;
  font-weight: bold;
}

.info-icon {
  margin-left: 50px;
  cursor: pointer;
}

.free-price {
  color: #37e666;
  font-weight: bold;
}

.price {
  color: #eb4034;
  font-weight: bold;
}
